<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="column">
        <h2>New Dojo</h2>
        <form action="/new_dojo_submission" method="post">
            <label>
                Name:
                <input type="text" name="dojoname" id="dojoname" class="textbox">
            </label>
            <div class="btn form_btn">
                <input type="submit" value="Create">
            </div>
        </form>
    </div>
    <div class="column">
        <h2>All Dojos</h2>
        <div class="dojo_box">
            {% for dojo in all_dojos %}
                <a href="/dojos/{{ dojo.id }}">{{ dojo.name }}</a>
            {% endfor %}
        </div>
        <div class="btn">
            <a href="/ninjas">Add Ninja</a>
        </div>
    </div>
</body>
</html>